body {
  margin: 0;
  padding: 0;
  background: #1f2425;
  color: #bbb
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.test {
  background: #2b2e39;
  margin: 0 ayti;
  width: 80%;
  max-width: 600px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px
}